<%- include('partials/head.ejs') %>

<%- include('partials/sidebar.ejs') %>

<main class="container">
        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-light">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    </div>
                </div>
            </nav>

            <h2>Capacidad de equipo</h2>    
            <br>     
            
            <form action="/proyectos/<%= id %>/capacidad_de_equipo" method="POST">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                        <th scope="col"></th>
                        <th scope="col">Horas</th>
                        <th scope="col">%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">Horas nominales totales</th>
                        <td>aqui falta algo</td>
                        <td>100%</td>
                        </tr>
                        <tr>
                        <th scope="row">Tiempo perdido</th>
                        <td></td>
                        <td>
                            <input type="text" name="guardar_porcentaje_tiempo_perdido">
                        </td>
                        </tr>
                        <tr>
                        <th scope="row">Errores de registro</th>
                        <td></td>
                        <td><input type="text" name="guardar_porcentaje_errores_de_registro"></td>
                        </tr>
                        <tr>
                        <th scope="row">Horas nominales restantes</th>
                        <td></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th scope="row">Overhead</th>
                        <td></td>
                        <td><input type="text" name="guardar_porcentaje_overhead"></td>
                        </tr>
                        <tr>
                        <th scope="row">Horas nominales restantes</th>
                        <td></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th scope="row">Produccion</th>
                        <td></td>
                        <td><input type="text" name="guardar_porcentaje_produccion"></td>
                        </tr>
                        <tr>
                        <th scope="row">Operativos</th>
                        <td></td>
                        <td><input type="text" name="guardar_porcentaje_operativos"></td>
                        </tr>
                        <tr>
                        <th scope="row">Humano</th>
                        <td></td>
                        <td><input type="text" name="guardar_porcentaje_humano"></td>
                        </tr>
                        <tr>
                        <th scope="row">CMMI</th>
                        <td></td>
                        <td><input type="text" name="guardar_porcentaje_CMMI"></td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" class="btn btn-primary" value="Guardar porcentajes">
            </form>

                <div class="line"></div>

                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                        <th scope="col">Integrantes</th>
                        <th scope="col">Horas</th>
                        </tr>
                    </thead>
                    <% for (let user of users) { %>
                        <tbody>
                            <td>
                                <%= user.nombre_usuario %>
                            </td>
                            <td>
                                <select class="form-control" name="horario" id="s<%= user.nombre_usuario %>" onchange="horario('<%= user.nombre_usuario %>' , '<%=id%>')">'
                                    <option selected value=" <%=user.tiempo_por_semana%>" class="font-weight-bold"> <%=user.tiempo_por_semana%> </option>
                                    <% for (var i = 1 ; i<51; i++) { %>
                                        <option value="<%= i %>" class="font-weight-bold" ><%= i%></option>
                                    <% } %>
                                </select>
                            </td>
                        </tbody>
                    <% } %>
                    </tbody>
                </table>
        </div>
</main>

<%- include('partials/footer.ejs') %>

