<%- include('partials/head.ejs') %>

<%- include('partials/sidebar.ejs') %>

<main class="container">
            <!-- Page Content  -->
            <div id="content">
    
                <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
                    <div class="container-fluid">
    
                        <button type="button" id="sidebarCollapse" class="btn btn-light">
                            <i class="fas fa-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>
    
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link text-white" href="#">Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Page</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div id = "mensaje" name = "mensaje">
                    .
                </div>


                <div>
                    <table class="table table-dark">
                        <thead class="thead-success">
                            <tr>
                                <th scope="col">Caso de uso</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>

                        <tbody>

                            <% for (let CasoUso of Casos) { %>

                                <tr>
                                    
                                    <td> <%= CasoUso.nombre_caso_de_uso %> </td>

                                    <input type="hidden" id="<%= CasoUso.id_caso_de_uso %>" value ="<%= CasoUso.id_caso_de_uso %>">
                                    <td>
                                        <select class="form-control" name="status" id="s<%= CasoUso.id_caso_de_uso %>" onchange="status('<%= CasoUso.id_caso_de_uso %>' , '<%=id%>')">'
                                            <option selected value=" <%=CasoUso.status_caso%>" class="font-weight-bold"> <%=CasoUso.status_caso%> </option>
                                            <option style="color:rgb(0, 255, 55)" value="Terminado" class="font-weight-bold" >Terminado</option>
                                            <option style="color:rgb(211, 22, 22)" value="Pendiente" class="font-weight-bold" >Pendiente</option>
                                        </select>
                                    </td>

                                </tr>

                            <% } %>

                            

                        </tbody>

                    </table>

                    <p><br></p>

                </div>

                <div>
                    <form action="/proyectos/<%= id %>/caso_de_uso" method="POST">
                        <input type="hidden" id= "_csrf" name="_csrf" value="<%= csrfToken %>" >
                        <div class="mb-3">
                            <label for="casoUso" class="form-label text-success">Caso de Uso:</label>
                            <input type="text" class="form-control" id="casoUso" name="casoUso">
                        </div>
                        <div class="mb-3">
                            <label for="epic" class="form-label text-success">Epic:</label>
                            <input type="text" class="form-control" id="epic" name="epic">
                        </div>
                        <div class="mb-3">
                            <label for="iteracion" class="form-label text-success">Iteración:</label>
                            <input type="number" class="form-control" id="iteracion" name="iteracion">
                        </div>
                        <div class="mb-3">
                            <label for="ap" class="form-label text-success">AP:</label>
                            <select class="form-control" id="ap" name="ap">
                                <option selected>Choose...</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>5</option>
                                <option>8</option>
                                <option>13</option>
                            </select>
                        </div>
                        <% if (error) { %>
                            <p style="color:red"><%= error %></p>
                        <% } %>
                        <button type="submit" class="btn btn-dark">Añadir</button>
                    </form>
                </div>

            </div>
        </div>
</main>

<%- include('partials/footer.ejs') %>

<!-- Script para busqueda-->
<script src="/js/status.js"></script>

<!-- Script para mensaje-->
<script>
    $(document).ready(function(){
        $('.toast').toast('show'); 
    });
</script>