<%- include('partials/head.ejs') %>

<main class="container">
	<br>
    <h1 class= "text-white text-center">Modificar caso de uso</h1>
    <form action="/proyectos/<%=id%>/modificar_caso_de_uso/<%=nombre_caso%>-<%=iteracion%>-<%=epic%>-<%=valor%>/" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <div class="mb-3">
        	<div><p class="form-label text-success"><strong>Nombre:</strong></p></div>
            <input type="text" class="form-control" id="nombre_caso" name="nombre_caso" placeholder="nuevo nombre" value="<%=nombre_caso%>">
        </div>
        <div class="mb-3">
        	<div><p class="form-label text-success"><strong>Iteracion:</strong></p></div>
        	<input type="number" class="form-control" id="iteracion" name="iteracion" placeholder="nueva iteracion" value="<%=iteracion%>">
        </div>
        <div class="mb-3">
        	<div><p class="form-label text-success"><strong>Epic:</strong></p></div>
            <input type="text" class="form-control" id="epic" name="epic" placeholder="nuevo epic" value="<%=epic%>">
        </div>
        <div class="mb-3">
        	<div><p class="form-label text-success"><strong>Valor AP:</strong></p></div>
            <select class="form-control" id="ap" name="ap" placeholder="Nuevo valor AP ...">
                <option selected><%=valor%></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>5</option>
                <option>8</option>
                <option>13</option>
            </select>
        </div>
        <div><button type="submit" class="btn btn-success">Ingresar</button>&nbsp<a href="/proyectos/<%=id%>/caso_de_uso" class="btn btn-danger">Cancelar</a></div>
    </form>
</main>

<%- include('partials/footer.ejs') %>