<%- include('partials/head.ejs') %>

<%- include('partials/navbarProyectos.ejs') %>
<link href="css/auxiliar.css" rel="stylesheet">
<main class="container">

<% if (success.length != 0) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Excelsior!</strong> <%= success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if (error.length != 0) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Holy natgas!</strong> <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<h1 class="col-md-12 text-center text-white"> Proyectos </h1>

<div class="row align-items-center" id="resultados">
    <% for (let proyecto of proyectos) { %>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div><br></div>
            <div class="card bg-dark border-secondary" style="height: 30rem; width: 20rem;">
                <img src="<%= proyecto.imagen %>" class="card-img-top" alt="<%= proyecto.imagen %>" id = "imgauxiliar">
                <div class="card-body">
                    <h5 class="card-title text-success"><%= proyecto.nombre_proyecto %></h5>
                    <p class="card-text" id = "scroll"><%= proyecto.descripcion %></p>
                    <a href="/proyectos/<%= proyecto.id_proyecto %>/reportes" class="btn btn-secondary">Ir a proyecto</a>
                </div>
            </div>
            <div><br></div>
        </div>
    <% } %>
</div>

</main>

<%- include('partials/footer.ejs') %>

<!-- Script para busqueda-->
<script src="/js/buscar.js"></script>