<%- include('partials/head.ejs') %>

<%- include('partials/navbarProyectos.ejs') %>

<main class="container">

<h1 class="col-md-12 text-center text-white"> Proyectos </h1>

<div class="row align-items-center" id="resultados">
    <% for (let proyecto of proyectos) { %>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div><br></div>
            <div class="card bg-dark" style="height: 30rem; width: 20rem;">
                <img src="<%= proyecto.imagen %>" class="card-img-top" alt="<%= proyecto.imagen %>">
                <div class="card-body">
                  <h5 class="card-title text-success"><%= proyecto.nombre_proyecto %></h5>
                  <p class="card-text "><%= proyecto.descripcion %></p>
                  <form action="/proyectos" method="POST"> 
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="id_proyecto" value="<%= proyecto.id_proyecto %>" >
                    <input type="submit" class="btn btn-secondary" value="Ir a proyecto">
                  </form>
                </div>
            </div>
            <div><br></div>
        </div>
    <% } %>
</div>

</main>

<%- include('partials/footer.ejs') %>

<!-- Script para busqueda-->
<script src="js/buscar.js"></script>