<%- include('partials/head.ejs') %>

<%- include('partials/sidebar.ejs') %>

<main class="container">
            <!-- Page Content  -->
            <div id="content">
    
                <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
                    <div class="container-fluid">
    
                        <button type="button" id="sidebarCollapse" class="btn btn-light">
                            <i class="fas fa-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>
    
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        </div>
                    </div>
                </nav>
    
                <h2>Work item List</h2>

                <div>
                    <table class="table table-dark">
                        <thead class="thead-success">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Estimation</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Finished Date</th>
                            <th scope="col">Iterations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for (let Record of Records) { %>
                        <tr>
                            <td><%= Record.fields.Name %></td>
                            <td><%= Record.fields.Status %></td>
                            <td><%= Record.fields.Estimation %></td>
                            <td><%= Record.fields.Duration %></td>
                            <td><%= Record.fields.FinishedDate %></td>
                            <td><%= Record.fields.Iterations %></td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
</main>

<%- include('partials/footer.ejs') %>